.Dish {
  width: 371px;
  height: 131px;
  flex-shrink: 0;
  background-color: #fff;
  margin: 1rem 1rem 1rem 0rem;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 0.5rem;
  }

  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;

    > p {
      margin-top: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &--price {
      display: flex;
      align-items: center;
      margin-top: auto;
      justify-self: flex-end;

      p {
        &:first-child {
          margin-right: 1rem;
        }

        &:nth-child(2) {
          color: #ff8001;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
}
