body {
  background-color: #f2f4f4;
  font-family: "Nunito", sans-serif;
  color: #2f3233;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    color: #868b8b;
    font-weight: normal;
  }
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.Background--white {
  background-color: #fff;
}
